$color-black: #000;
$color-white: #fff;
$color-gray-50: #888888;
$primary-color: #e4c590;

$fs-8: 0.6rem;
$fs-10: 0.7rem;
$fs-12: 0.8rem;
$fs-14: 0.9rem;
$fs-16: 1rem;
$fs-18: 1.1rem;
$fs-20: 1.25rem;
$fs-24: 1.5rem;
$fs-28: 1.75rem;
$fs-30: 1.85rem;
$fs-32: 2rem;
$fs-36: 2.25rem;
$fs-40: 2.6rem;

$fw-400: 400;
$fw-700: 700;
$fw-900: 900;

$ff-primary: "DM Sans", sans-serif;
$ff-secondary: "Forum", cursive;
