.c-btn-style-one {
    position: relative;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    text-transform: uppercase;
    color: $color-black;
    letter-spacing: 2px;
    font-weight: $fw-700;
    padding: 10px 40px;
    font-size: $fs-10;
    background: $primary-color;
    border: 2px solid $primary-color;
    border-radius: 0px;
    overflow: hidden;
    transition: all 0.3s ease 0s;
    outline: none;
    font-family: $ff-primary;

    &::before {
        transition-duration: 800ms;
        position: absolute;
        width: 200%;
        height: 200%;
        content: "";
        top: -200%;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 50%;
        z-index: 1;
        background: $color-black;
    }

    &:hover::before {
        top: 0%;
    }

    &:hover::before {
        top: -40%;
    }

    &:hover .c_btn-wrap .c_text-two {
        transform: translateY(-50%);
        top: 50%;
        color: $color-white;
    }

    &:hover .c_text-one:first-child {
        transform: translateY(-150%);
    }

    &:hover .c_text-two {
        transform: translateY(-50%);
        top: 50%;
        color: $color-white;
    }

    .c_btn-wrap {
        position: relative;
        z-index: 1;
        overflow: hidden;
        display: inline-block;

        .c_text-one {
            position: relative;
            display: block;
            color: $color-black;
            transition: all 0.3s ease;
            margin-top: 3px;
            font-size: $fs-10;
        }

        .c_text-two {
            position: absolute;
            top: 100%;
            display: block;
            color: $color-white;
            transition: all 0.3s ease;
            margin-top: 3px;
            font-size: $fs-10;
        }
    }
}

.c-btn-style-two {
    position: relative;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    text-transform: uppercase;
    color: $primary-color;
    letter-spacing: 2px;

    padding: 10px 40px;
    font-size: $fs-10;
    background: transparent;
    border: 2px solid $primary-color;
    border-radius: 0px;
    overflow: hidden;
    transition: all 0.3s ease 0s;
    outline: none;
    font-family: $ff-primary;

    &::before {
        transition-duration: 800ms;
        position: absolute;
        width: 200%;
        height: 200%;
        content: "";
        top: -200%;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 50%;
        z-index: 1;
        background: $primary-color;
    }

    &:hover::before {
        top: 0%;
    }

    &:hover::before {
        top: -40%;
    }

    &:hover .c_btn-wrap .c_text-two {
        transform: translateY(-50%);
        top: 50%;
        color: $color-white;
    }

    &:hover .c_text-one:first-child {
        transform: translateY(-150%);
    }

    &:hover .c_text-two {
        transform: translateY(-50%);
        top: 50%;
        color: $color-white;
    }

    .c_btn-wrap {
        position: relative;
        z-index: 1;
        overflow: hidden;
        display: inline-block;

        .c_text-one {
            position: relative;
            display: block;
            color: $primary-color;
            transition: all 0.3s ease;
            margin-top: 3px;
        }

        .c_text-two {
            position: absolute;
            top: 100%;
            display: block;
            color: $color-white;
            transition: all 0.3s ease;
            margin-top: 3px;
        }
    }
}

@media (max-width: 979px) {
    .c-btn-style-one {
        padding: 8px 30px;
        font-size: $fs-8;
    }
    .c-btn-style-two {
        padding: 8px 30px;
        font-size: $fs-8;
    }
}

@media (max-width: 575px) {
    .c-btn-style-one {
        padding: 5px;
        font-size: 8px;
    }
    .c-btn-style-two {
        padding: 5px;
        font-size: 8px;
    }
}
